


body {
    height: 100vh;
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* centraliza vertical */
    background-color: #f4f4f4;
    

}

#texto {
    margin-top: 30px;
}


.container {
     width: 100%;
    max-width: 350px; /* evita estourar e deslocar */
    margin: auto;

    background: white;
    padding: 20px;
    border-radius: 10px;

    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}


input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
}


ul {
    margin-top: 15px;
    padding-left: 20px;
}